.about {
  padding: 50px 0;

  @include on-desctop {
    padding: 100px 0;
  }

  &__content {
    @include on-tablet {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(6, 1fr);
    }

    @include on-desctop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      position: relative;
    }
  }

  &__foto-number {
    display: none;

    @include on-desctop{
      display: block;
      color: $contrast-color;
      font-size: 14px;
      font-weight: 400;
      grid-column: 2;
      grid-row: 1;
      position: absolute;
      left: 6%;
    }

  }

  &__title {
    display: inline;
    color: $color-white;
    font-size: 21px;
    font-weight: 900;

    @include on-tablet {
      grid-column: 4 / 6;
      grid-row: 1;
    }

    @include on-desctop {
      color: $color-white;
      font-size: 36px;
      font-weight: 900;
      grid-column: 9 / -1;
      grid-row: 1 / 4;
    }

    &--nice {
      display: inline;
      color: $color-white;
      font-size: 21px;
      font-weight: 900;

      @include on-tablet {
        grid-column: 1 / 3;
      }

      @include on-desctop {
        color: $color-white;
        font-size: 36px;
        font-weight: 900;
        grid-column: 1 / 6;
        grid-row: 3;
        margin-top: 15px;
      }
    }
  }

  &__images {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;

    @include on-tablet {
      width: auto;
      margin: 0;
      grid-column: 1 / 4;
      grid-row: 1;
    }

    @include on-desctop {
      grid-column: 3 / 7;
    }
  }

  &__img {
    display: flex;
    width: auto;
    height: 189px;

    @include on-tablet {
      margin: 0;
      width: 100%;
      height: 290px;
    }

    @include on-desctop {
      width: 430px;
      height: 290px;
    }

    &--dotters {
      display: flex;
      margin-inline: auto;
      width: 44px;
      height: 4px;

      @include on-desctop {
        display: none;
      }
    }
  }

  &__previous-content {
    display: none;

    @include on-desctop {
      display: flex;
      position: absolute;
      flex-wrap: nowrap;
      justify-content: space-between;
      border-bottom: 1px solid #2F2F2F;
      gap: 103px;
      grid-column: 3 / 5;
      left: 0;
      top: 39%;
    }
  }

  &__links--previous {
    position: relative;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    padding-bottom: 5px;
    border-width: 100%;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 69px;
      display: block;
      height: 1px;
      background-color: $contrast-color;
    }
  }

  &__links--next {
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
  }

  &__description {
    margin-top: 21px;
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    @include on-tablet {
      margin-top: 50px;
      grid-column: 4 / -1;
      grid-row: 1;
    }

    @include on-desctop {
      grid-column: 9 / -1;
      margin-top: 70px;
    }

    &--nice {
      margin-top: 21px;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      @include on-tablet {
        grid-column: 1 / 5;
      }

      @include on-desctop {
        grid-column: 1 / 6;
      }
    }
  }

  &__button-conteiner {
    margin-top: 44px;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      margin-top: 225px;
      grid-column: 4 / 6;
      grid-row: 1;
    }

    @include on-desctop {
      grid-column: 9 / 12;
    }
  }

  .button__play {
    cursor: pointer;
    padding-left: 90px;
    width: 179px;
    background-color: transparent;
    border: none;
    margin-top: 11.5px;
    position: relative;
    display: inline-flex;
    height: 43px;
    flex-shrink: 0;
    color: $color-white;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;

    &:hover {
      color: $contrast-color;
    }
  }

  .button__play--img {
    position: absolute;
    width: 85px;
    height: 66.06px;
    cursor: pointer;
  }

  .button__arrow--top {
    margin: 11.5px 0 45px 86px;
    position: absolute;
    width: auto;
    height: 2px;
  }

  .button__arrow--bottom {
    margin: 54px 0 45px 86px;
    position: absolute;
    width: auto;
    height: 2px;
  }

  &__hello {
    margin: 88px 0 11px;
    color: $contrast-color;
    font-size: 14px;
    font-weight: 400;

    @include on-tablet {
      margin-top: 126px;
      grid-column: 1;
    }

    @include on-desctop {
      grid-column: 1;
      grid-row: 2;
      margin: 0;
      padding-top: 250px;
    }
  }

  &__transform-container {
    @include on-tablet {
      margin-top: 110px;
      grid-column: 5 / -1;
      grid-row: 2 / 5;
      display: flex;
      gap: 22px;

      @include on-desctop {
        grid-column: 7 / -1;
        margin-top: 200px;
      }
    }

  }

  &__transform {
    display: none;

    @include on-tablet {
      display: flex;
      height: 253px;
      width: 52px;
    }

    &--2 {
      display: none;

      @include on-tablet {
        display: flex;
        height: 253px;
        width: 52px;
      }
    }

    &--3 {
      display: none;

      @include on-tablet {
        display: flex;
        height: 253px;
        width: 52px;
      }
    }

    &--4 {
      display: none;

      @include on-desctop {
        display: flex;
        height: 253px;
        width: 52px;
      }
    }

    &--5 {
      display: none;

      @include on-desctop {
        display: flex;
        height: 253px;
        width: 52px;
      }
    }
  }
}
