.benefits {
  background: linear-gradient(108deg, #191536 0%, #000 100%);
  padding: 50px 0;

  @include on-tablet {
    padding: 50px 0;
  }

  @include on-desctop {
    padding: 100px 0;
  }

    &__content {
      @include on-tablet {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: justify;
    }

    @include on-desctop {
      column-gap: 23px;
    }
  }

  &__conteiner-centr {
    @include on-tablet {
      box-sizing: border-box;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title-content {
    @include on-desctop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  &__main-title {
    margin-bottom: 32px;
    color: $color-white;
    font-size: 21px;
    font-weight: 900;

    @include on-tablet {
      display: inline-block;
    }

    @include on-desctop {
      color: $color-white;
      font-size: 36px;
      font-weight: 900;
      align-content: center;
      margin-bottom: 90px;
    }
  }

  &__logo-compatible {
    display: none;

    @include on-tablet {
      width: 80px;
      min-height: 80px;
      display: block;
      padding: 20px 0;
    }

    @include on-desctop {
      padding-bottom: 20px;
    }
  }

  &__logo-vr {
    display: none;

    @include on-tablet {
      width: 86.37px;
      min-height: 80px;
      display: block;
      padding: 20px 0;
    }

    @include on-desctop {
      padding-bottom: 20px;
    }
  }

  &__logo-wireless {
    display: none;

    @include on-tablet {
      width: 105.31px;
      min-height: 80px;
      display: block;
      padding: 20px 0;
    }

    @include on-desctop {
      padding-bottom: 20px;
    }
  }

  &__titles {
    margin-bottom: 11px;
    color: $color-white;
    font-size: 18px;
    font-weight: 900;

    &--universally {
      margin-bottom: 11px;
      color: $color-white;
      font-size: 18px;
      font-weight: 900;

      @include on-tablet {
        text-align: center;
        white-space: nowrap;
      }
    }

    &--vr {
      margin-bottom: 11px;
      color: $color-white;
      font-size: 18px;
      font-weight: 900;

      @include on-tablet {
        text-align: center;
        white-space: nowrap;
        display: flex;
      }
    }

    &__conteiner-centr {
      display: none;

      @include on-tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &--wireless {
      margin-bottom: 11px;
      color: $color-white;
      font-size: 18px;
      font-weight: 900;

      @include on-tablet {
        text-align: center;
        white-space: nowrap;
    }
    }
  }

  &__description {
    margin-bottom: 20px;
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    @include on-tablet {
      margin: 0;
    }

    &--universally {
      margin-bottom: 20px;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      @include on-tablet {
        margin: 0;
      }
    }

    &--vr {
      margin-bottom: 20px;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      @include on-tablet {
        margin: 0;
      }
    }

    &--wireless {
      margin-bottom: 20px;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      @include on-tablet {
        margin: 0;
      }
    }
  }

  &__button-content {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button--buy__now {
    display: none;

    @include on-desctop {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 48px;
      border-radius: 4px;
      background: $contrast-color;
      color: $color-white;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      border: transparent;
      cursor: pointer;

      &:hover {
        background-color: #FFF;
        color: $contrast-color;
      }

      &:focus {
        background-color: #191536;
        color:  #2F2F2F;
      }
    }
  }

  &__button-link {
    text-decoration: none;
  }
}
