.pay {
  overflow: scroll;
  background: linear-gradient(108deg, #191536 0%, #000 100%);
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @include on-desctop {
    margin-inline: auto;
  }

  &__logo-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }

  &__logo {
    width: 58px;
    height: 12px;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      animation-duration: 0.3ms;
    }

    @include on-tablet {
      width: 64px;
      height: 14px;
      padding-left: 34px;
    }

    @include on-desctop {
      padding-left: 110px;
    }
  }

  &__icon-close {
    width: 14.61px;
    height: 14.8px;
    padding-right: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      animation-duration: 0.3ms;
    }

    @include on-tablet {
      width: 17px;
      height: 17px;
      padding-right: 34px;
    }

    @include on-desctop {
      display: none;
    }
  }

  &__buy-links--place {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 17.5px;

    @include on-tablet {
      font-size: 14px;
      padding-left: 58px;
    }
  }

  &__complete-link {
    text-decoration: none;
  }

  &__place-order-link {
    text-decoration:  none;
  }

  &__top-bar {
    max-width: 1280px;

    @include on-desctop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 130px;
      margin-inline: auto;
    }
  }

  &__content-img-price {
    @include on-desctop {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
  }

  &__content-forms {
    @include on-desctop {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
    }
  }

  &__flex {
    @include on-desctop {
      display: flex;
      max-width: 1280px;
      margin-inline: auto;
    }
  }

  &__container-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__dotters {
    display: none;

    @include on-desctop {
      display: flex;
      width: 4px;
      height: 4px;
      padding: 2px 0 7px;
    }
  }

  &__buy-links--pay {
    color: $contrast-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 19px;

    @include on-tablet {
      font-size: 14px;
    }

    @include on-desctop {
      display: flex;
      padding-bottom: 7px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: calc(100vw - 64%);
      display: block;
      height: 1px;
      background-color: $contrast-color;
      left: calc(100vw - 67%);

      @include on-desctop {
        display: none;
      }
    }
  }

  &__buy-links--complete {
    color: #545454;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 19px;

    @include on-tablet {
      font-size: 14px;
      padding-right: 76px;
    }
  }

  &__img-container {
      display: flex;
      justify-content: center;
  }

  &__img {
    display: none;

    @include on-tablet {
      display: flex;
      width: 524px;
      height: 277px;
      align-items: center;
      padding-top: 40px;
    }
  }

  &__buy-container {
    position: relative;
    padding-inline: 20px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    border-bottom: 1px solid #2F2F2F;

    @include on-desctop {
      border: none;
      display: flex;
      gap: 192px;
      padding-right: 144px;
      align-items: center;
      padding-top: 19px;
    }
  }

  &__buy-links {
    text-decoration: none;
    color: #545454;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 19px;
    border-width: 200%;
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    padding: 30.5px 66px 0 20px;

    @include on-tablet {
      display: flex;
      justify-content: center;
      gap: 265px;
    }

    @include on-desctop {
      gap: 116px;
      justify-content: start;
    }
  }

  &__quantity-price {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;

    @include on-desctop {
      padding-top: 15px;
    }
  }

  &__select-price {
    display: flex;
    justify-content: space-between;
    padding: 10px 42px 42px 17px;
    margin-bottom: 53px;

    @include on-tablet {
      display: flex;
      justify-content: center;
      gap: 230px;
    }

    @include on-desctop {
      gap: 86px;
      justify-content: start;
    }
  }

  &__select {
    padding-left: 39px;
    outline: none;
    background: #191536;
    width: 90px;
    height: 41px;
    border: transparent;
    color: $color-white;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    cursor: pointer;
  }

  &__money {
    color: $contrast-color;
    font-size: 26px;
    font-weight: 500;
  }

  &__card-name {
    color: $contrast-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 17px;
  }

  &__card-padding-container {
    @include on-tablet {
      padding-inline: 134px;
    }
  }

  &__card {
    gap: 19px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;


    @include on-tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__card-number {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #2F2F2F;
    width: 56px;
    height: 32px;
    color: #2F2F2F;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 3.6px;

    &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

    @include on-tablet {
      grid-column: 1;
      grid-row: 2;
    }

    &.blurred:invalid {
      color: #860404;
      border-bottom: 1px solid #860404;
    }

    &::placeholder {
      color: $contrast-color;
    }

    &:focus {
      color: $color-white;
      border-bottom: 1px solid $contrast-color;
    }

    &--2 {
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #2F2F2F;
      width: 56px;
      height: 32px;
      color: #2F2F2F;
      font-size: 18px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 3.6px;

      &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

      @include on-tablet {
        grid-column: 2;
        grid-row: 2;
      }

      &.blurred:invalid {
        color: #860404;
        border-bottom: 1px solid #860404;
      }

      &:focus {
        color: $color-white;
        border-bottom: 1px solid $contrast-color;
      }

      &::placeholder {
        color: $contrast-color;
      }
    }

    &--3 {
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #2F2F2F;
      width: 56px;
      height: 32px;
      color: #2F2F2F;
      font-size: 18px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 3.6px;

      &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

      @include on-tablet {
        grid-column: 3;
        grid-row: 2;
      }

      &.blurred:invalid {
        color: #860404;
        border-bottom: 1px solid #860404;
      }

      &::placeholder {
        color: $contrast-color;
      }

      &:focus {
        color: $color-white;
        border-bottom: 1px solid $contrast-color;
      }
    }

    &--4 {
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #2F2F2F;
      width: 56px;
      height: 32px;
      color: #2F2F2F;
      font-size: 18px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 3.6px;

      &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

      @include on-tablet {
        grid-column: 4;
        grid-row: 2;
      }

      &.blurred:invalid {
        color: #860404;
        border-bottom: 1px solid #860404;
      }

      &::placeholder {
        color: $contrast-color;
      }

      &:focus {
        color: $color-white;
        border-bottom: 1px solid $contrast-color;
      }
    }
  }

  &__card-visa {
    display: none;

    @include on-tablet {
      display: block;
      width: 53.93px;
      height: 33.70px;
      grid-column: 5;
      grid-row: 2;
    }
  }


  &__card-holder-name {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #2F2F2F;
    width: 100%;
    height: 40px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;

    @include on-tablet {
      display: flex;
    }

    &.blurred:invalid {
      color: #860404;
      border-bottom: 1px solid #860404;
    }

    &::placeholder {
      color: $contrast-color;
    }

    &:focus {
      color: $color-white;
      border-bottom: 1px solid $contrast-color;
    }
  }

  &__card-date {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 95px;
    margin: 30px 0 17px;

    @include on-tablet {
      display: flex;
      justify-content: left;
      gap: 81px;
    }
  }

  &__date-text {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;

    @include on-tablet {
      margin-top: 40px;
    }
  }

  &__cvv {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;

    @include on-tablet {
      margin-top: 40px;
    }
  }

  &__input-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 89px;

    @include on-tablet {
      display: flex;
      justify-content: left;
      gap: 92px;
      margin-bottom: 104px;
    }

    @include on-desctop {
      margin-bottom: 55px;
    }
  }

  &__date {
    margin-bottom: 40px;
    width: 90px;
    height: 24px;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    border: none;
    border-bottom: 1px solid #2F2F2F;
    color: $text-color;

    &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.blurred:invalid {
    color: #860404;
    border-bottom: 1px solid #860404;
  }

  &::placeholder {
    color: $contrast-color;
  }

  &:focus {
    color: $color-white;
    border-bottom: 1px solid $contrast-color;
  }
}

  &__card-cvv {
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    border: none;
    border-bottom: 1px solid #2F2F2F;
    width: 40px;
    height: 24px;
    color: $text-color;

    &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.blurred:invalid {
    color: #860404;
    border-bottom: 1px solid #860404;
  }

  &::placeholder {
    color: $contrast-color;
  }

  &:focus {
    color: $color-white;
    border-bottom: 1px solid $contrast-color;
  }
}

  &__button {
    border-color: transparent;
    margin-bottom: 37px;
    width: 100%;
    height: 40px;
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    border-radius: 4px;
    background: $contrast-color;
    cursor: pointer;

    @include on-tablet {
      height: 48px;
      margin-bottom: 43px;
    }

    @include on-desctop {
      width: 200px;
    }

    &.blurred:invalid {
      color: #860404;
      border-bottom: 1px solid #860404;
    }

    &:hover {
      background-color: #FFF;
      color: $contrast-color;
    }

    &:focus {
      background-color: #191536;
      color:  #2F2F2F;
    }
  }
}

.pay:target {
  opacity: 1;
  pointer-events: all;
}
